body {
    background-image: url('../img/rojo.jpg');
    background-attachment: fixed;
    /*determina si la posición de la imagen de fondo será fija dentro de la pantalla o se desplazará con su bloque contenedor. En este caso, Si fixed es especificado, la imagen de fondo estará fija en la pantalla y no se moverá con el bloque contenedor.
    
    Si scroll es especificado, la imagen de fondo se moverá dentro de la pantalla junto al bloque que la contiene.*/
}
div#logo{
    background-color: #CA3413;
}
nav#menu ul li a:hover{
    background-color: #CA3413;
}
article.post a.button-more{
    background-color:#CA3413;
}
a.top{
    background-color: #CA3413;
}
a#logout{
    background-color: #CA3413;
}
form input[type="submit"] {
    background-color: #CA3413;
    color: white;
}
.ui-accordion .ui-accordion-header{
    background-color: #ca3513d2;
    color: white;
}
.ui-accordion .ui-accordion-header-active{
    background-color: #CA3413;
    color: white;
}
.ui-accordion .ui-accordion-content{
    background-color: #ca3513d2;
    color: white;
}
